body{background-color: #F6E6C2;}
hr{ border-color: grey;
    border-style: dotted none none;
    border-width: 5px;
    height: 0px;
    width: 30%;    
}
img{height: 150px;}
h1{color: #443C68;}
h2{color: #443C68;}